name: docker-windows

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        id: version
        run: |
          $version = Get-Content VERSION
          echo "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

      - name: Build and push Docker image
        run: |
          docker build -f Dockerfile-windows -t ghcr.io/${{ github.repository }}:${{ steps.version.outputs.version }} .
          docker push ghcr.io/${{ github.repository }}:${{ steps.version.outputs.version }}