name: Build and Release Linux Docker Image

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker repo
        id: set_repo
        run: |
          if [[ "${{ github.repository_owner }}" == "appdynamics" ]]; then
            echo "repo=appdynamics" >> $GITHUB_OUTPUT
          else
            echo "repo=${{ github.repository_owner }}" >> $GITHUB_OUTPUT
          fi

      - name: Build Docker image using Makefile
        run: make build-image DOCKER_REPO=${{ steps.set_repo.outputs.repo }}

      - name: Get Docker image tag
        id: get_tag
        run: |
          TAG=$(cat VERSION)
          ARCH=$(uname | tr '[:upper:]' '[:lower:]')
          if [ "$ARCH" = "darwin" ]; then
            ARCH="macos"
          elif [ "$ARCH" = "linux" ]; then
            ARCH="linux"
          fi
          CHIP=$(uname -m)
          if [ "$CHIP" = "x86_64" ]; then
            CHIP="x86"
          elif [ "$CHIP" = "arm64" ] || [ "$CHIP" = "aarch64" ]; then
            CHIP="arm"
          fi
          REPO="${{ steps.set_repo.outputs.repo }}"
          IMAGE_TAG="ghcr.io/${REPO}/config-assessment-tool-${ARCH}-${CHIP}:$TAG"
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Push Docker image
        run: docker push ${{ steps.get_tag.outputs.image_tag }}